# Next.js build output
.next/
out/

# Vercel deployment output
.vercel/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*
.env.local

# optional: test coverage
coverage/